In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./datasets/WorldBank_POP.csv.xls")

In [6]:
print(df.head(50))

                      Country Name Country Code     Indicator Name  Year  \
0                            Aruba          ABW  Population, total  2010
1                      Afghanistan          AFG  Population, total  2010
2                           Angola          AGO  Population, total  2010
3                          Albania          ALB  Population, total  2010
4                          Andorra          AND  Population, total  2010
5                       Arab World          ARB  Population, total  2010
6             United Arab Emirates          ARE  Population, total  2010
7                        Argentina          ARG  Population, total  2010
8                          Armenia          ARM  Population, total  2010
9                   American Samoa          ASM  Population, total  2010
10             Antigua and Barbuda          ATG  Population, total  2010
11                       Australia          AUS  Population, total  2010
12                         Austria          AUT  Population, total  2010
13                      Azerbaijan          AZE  Population, total  2010
14                         Burundi          BDI  Population, total  2010
15                         Belgium          BEL  Population, total  2010
16                           Benin          BEN  Population, total  2010
17                    Burkina Faso          BFA  Population, total  2010
18                      Bangladesh          BGD  Population, total  2010
19                        Bulgaria          BGR  Population, total  2010
20                         Bahrain          BHR  Population, total  2010
21                    Bahamas, The          BHS  Population, total  2010
22          Bosnia and Herzegovina          BIH  Population, total  2010
23                         Belarus          BLR  Population, total  2010
24                          Belize          BLZ  Population, total  2010
25                         Bermuda          BMU  Population, total  2010
26                         Bolivia          BOL  Population, total  2010
27                          Brazil          BRA  Population, total  2010
28                        Barbados          BRB  Population, total  2010
29               Brunei Darussalam          BRN  Population, total  2010
30                          Bhutan          BTN  Population, total  2010
31                        Botswana          BWA  Population, total  2010
32        Central African Republic          CAF  Population, total  2010
33                          Canada          CAN  Population, total  2010
34  Central Europe and the Baltics          CEB  Population, total  2010
35                     Switzerland          CHE  Population, total  2010
36                 Channel Islands          CHI  Population, total  2010
37                           Chile          CHL  Population, total  2010
38                           China          CHN  Population, total  2010
39                   Cote d'Ivoire          CIV  Population, total  2010
40                        Cameroon          CMR  Population, total  2010
41                Congo, Dem. Rep.          COD  Population, total  2010
42                     Congo, Rep.          COG  Population, total  2010
43                        Colombia          COL  Population, total  2010
44                         Comoros          COM  Population, total  2010
45                      Cabo Verde          CPV  Population, total  2010
46                      Costa Rica          CRI  Population, total  2010
47          Caribbean small states          CSS  Population, total  2010
48                            Cuba          CUB  Population, total  2010
49                         Curacao          CUW  Population, total  2010

             Pop
0   1.016690e+05
1   2.918551e+07
2   2.335625e+07
3   2.913021e+06
4   8.444900e+04
5   3.548900e+08
6   8.549988e+06
7   4.078845e+07
8   2.877319e+06
9   5.607900e+04
10  8.802800e+04
11  2.203175e+07
12  8.363404e+06
13  9.054332e+06
14  8.675602e+06
15  1.089559e+07
16  9.199259e+06
17  1.560522e+07
18  1.475754e+08
19  7.395599e+06
20  1.240860e+06
21  3.549420e+05
22  3.705472e+06
23  9.490583e+06
24  3.224640e+05
25  6.512400e+04
26  1.004859e+07
27  1.957136e+08
28  2.821310e+05
29  3.886460e+05
30  6.855030e+05
31  1.987105e+06
32  4.386768e+06
33  3.400489e+07
34  1.044214e+08
35  7.824909e+06
36  1.597340e+05
37  1.706254e+07
38  1.337705e+09
39  2.053295e+07
40  2.034124e+07
41  6.456385e+07
42  4.273731e+06
43  4.522270e+07
44  6.896920e+05
45  4.926540e+05
46  4.577378e+06
47  6.973206e+06
48  1.122583e+07
49  1.487030e+05

In [6]:
import pandas as pd

# Create a multi-index DataFrame
index_1 = pd.MultiIndex.from_tuples([(i,j) for i in range(5) for j in range(5)], names=['first_level', 'second_level'])
df1 = pd.DataFrame({'A': range(25)}, index=index_1)
#print(df1)

index_2 = pd.MultiIndex.from_tuples([(i,j) for i in range(3,8) for j in range(3,8)], names=['first_level', 'second_level'])
df2 = pd.DataFrame({'B': range(25)}, index=index_2)
#print(df2)

# Perform the join
df3 = df1.merge(df2, how='inner', on=df1.index.names)
print(df3)

                           A  B
first_level second_level
3           3             18  0
            4             19  1
4           3             23  5
            4             24  6

In [10]:
# Create a multi-index DataFrame
index_1 = pd.MultiIndex.from_tuples([(i,j) for i in range(5) for j in range(5)], names=['first_level', 'second_level'])
df1 = pd.DataFrame({'A': range(25)}, index=index_1)
print(df1)

                           A
first_level second_level
0           0              0
            1              1
            2              2
            3              3
            4              4
1           0              5
            1              6
            2              7
            3              8
            4              9
2           0             10
            1             11
            2             12
            3             13
            4             14
3           0             15
            1             16
            2             17
            3             18
            4             19
4           0             20
            1             21
            2             22
            3             23
            4             24

In [11]:
index_2 = pd.MultiIndex.from_tuples([(i,j) for i in range(3,8) for j in range(3,8)], names=['first_level', 'second_level'])
df2 = pd.DataFrame({'B': range(25)}, index=index_2)
print(df2)

                           B
first_level second_level
3           3              0
            4              1
            5              2
            6              3
            7              4
4           3              5
            4              6
            5              7
            6              8
            7              9
5           3             10
            4             11
            5             12
            6             13
            7             14
6           3             15
            4             16
            5             17
            6             18
            7             19
7           3             20
            4             21
            5             22
            6             23
            7             24

In [21]:
df3 = df1.merge(df2, on = 'second_level', how = 'inner')
print(df3)

               A   B
second_level
3              3   0
3              3   5
3              3  10
3              3  15
3              3  20
3              8   0
3              8   5
3              8  10
3              8  15
3              8  20
3             13   0
3             13   5
3             13  10
3             13  15
3             13  20
3             18   0
3             18   5
3             18  10
3             18  15
3             18  20
3             23   0
3             23   5
3             23  10
3             23  15
3             23  20
4              4   1
4              4   6
4              4  11
4              4  16
4              4  21
4              9   1
4              9   6
4              9  11
4              9  16
4              9  21
4             14   1
4             14   6
4             14  11
4             14  16
4             14  21
4             19   1
4             19   6
4             19  11
4             19  16
4             19  21
4             24   1
4             24   6
4             24  11
4             24  16
4             24  21

In [12]:
# Perform the join
df3 = df1.merge(df2, how='inner', on=df1.index.names)
print(df3)

                           A  B
first_level second_level
3           3             18  0
            4             19  1
4           3             23  5
            4             24  6

In [23]:
# Perform the join
df3 = df1.merge(df2, how='inner', left_index = True, right_index = True)
print(df3)

                           A  B
first_level second_level
3           3             18  0
            4             19  1
4           3             23  5
            4             24  6

In [8]:
# DataFrames with multi-index
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[['a', 'a', 'b', 'b'], ['1', '2', '1', '2']])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[['a', 'a', 'b', 'b'], ['1', '2', '3', '4']])

# Using merge
merged_df = df1.reset_index().merge(df2.reset_index(), how='outer', on=["level_0", "level_1"]).set_index(['level_0', 'level_1'])
print(merged_df)
# Using join
joined_df = df1.join(df2, lsuffix="_df1", rsuffix="_df2")
print(joined_df)

                 A_x  B_x  C_x  D_x  A_y  B_y  C_y  D_y
level_0 level_1
a       1         A0   B0   C0   D0   A4   B4   C4   D4
        2         A1   B1   C1   D1   A5   B5   C5   D5
b       1         A2   B2   C2   D2  NaN  NaN  NaN  NaN
        2         A3   B3   C3   D3  NaN  NaN  NaN  NaN
        3        NaN  NaN  NaN  NaN   A6   B6   C6   D6
        4        NaN  NaN  NaN  NaN   A7   B7   C7   D7
    A_df1 B_df1 C_df1 D_df1 A_df2 B_df2 C_df2 D_df2
a 1    A0    B0    C0    D0    A4    B4    C4    D4
  2    A1    B1    C1    D1    A5    B5    C5    D5
b 1    A2    B2    C2    D2   NaN   NaN   NaN   NaN
  2    A3    B3    C3    D3   NaN   NaN   NaN   NaN

In [24]:
import pandas as pd
from functools import reduce

df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value': [1, 2, 3]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'F'],
    'value': [5, 6, 7]
})

df3 = pd.DataFrame({
    'key': ['A', 'E', 'F'],
    'value': [8, 9, 10]
})

dfs = [df1, df2, df3]

merged = reduce(lambda left,right: pd.merge_ordered(left,right,on='key',fill_method='ffill'), dfs)
print(merged)

  key  value_x  value_y  value
0   A        1      NaN      8
1   B        2      5.0      8
2   C        3      5.0      8
3   D        3      6.0      8
4   E        3      6.0      9
5   F        3      7.0     10